@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    width: 100%;
    height: 100%;
}

.nav {
    background-color: blue;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    align-content: start;
    row-gap: 24px;
    padding-top: 16px;
    color: white;
}

.nav>.nav-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.nav>.nav-section>div:nth-child(odd) {
    justify-self: center;
}

.nav div {
    height: min-content;
}

.header {
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
}

.header>.first-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 64px;
}

.header>.first-row>.search {
    background-color: brown;
    display: flex;
    padding: 24px 36px;
    align-items: center;
    gap: 8px;
}

.header>.first-row>.search>div {
    width: 25px;
    height: 25px;
    background-color: bisque;
}

.header>.first-row>.account {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr max-content;
    color: white;
    padding: 24px 36px;
    gap: 8px;
}

.header>.first-row>.account>div {
    background-color: gray;
}

.header input {
    height: 25px;
    flex: 1;
}

.header>.second-row {
    display: grid;
    grid-template-columns: 16fr 9fr;
    gap: 8px;
}

.header>.second-row>.account {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding: 16px 36px;
    align-items: center;
    column-gap: 16px;
    row-gap: 8px;
}

.header>.second-row>.account>div:first-child {
    width: 75px;
    height: 75px;
    background-color: green;
    grid-row: 1 / 3;
}

.header>.second-row>.account>div:nth-child(2) {
    align-self: end;
}

.header>.second-row>.account>div:last-child {
    align-self: start;
}
 
.header>.second-row>.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header button {
    width: 80px;
    height: 35px;
}

.dashboard {
    background-color: blueviolet;
}